@charset "UTF-8";

body{
    background-image: linear-gradient(45deg, #027333, #03A63C, #04D939);
}
main{
    background-color: antiquewhite;
    border-radius: 3%;
    box-shadow: 5px 5px 5px rgba(2, 89, 57, 0.637);
    width: 90%;
    padding: 2%;
    margin: auto;
}
p{
    text-align: justify;
}
h1{
    color: #012340;
    text-align: center;
    text-shadow: 1px 1px 0px #011629;
}
h2{
    color: #025939;
}